html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0 0;
}
.menu{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    background-image: url("../assets/bubbles_.png");
    background-size: 30%;
    background-color: #62a7ee;
}
.menu-center-block{
    height: 100%;
    width: 900px;
    background: rgba(98, 167, 238, 0.8);
    border-style: none solid;
    border-color: rgba(255, 255, 255, 0.4);
}


@font-face {
    font-family: 'LuckiestGuy';
    src: url('../assets/fonts/LuckiestGuy-Regular.ttf');
}
.mainmenu__button {
    width: 300px;
    text-align: center;
    cursor: pointer;
    font-size: 45px;
    font-family: "LuckiestGuy";
    padding: 25px 80px 10px 80px;
    user-select: none;
    color: #c6cbc3;
}
.mainmenu__button:hover {
    opacity: 0.8;
    font-size: 60px;
    padding: 15px 80px 5px 80px;
}




.topmenu {
    height: 60px;
    position: relative;
}
.topmenu__buttons-container {
    position: absolute;
    top: 10px;
    right: 0;
    height: 50px;
    width: 120px;
}
.topmenu__buttons-left_container {
    position: absolute;
    top: 10px;
    left: 0;
    height: 50px;
    width: 70px;
    padding: 0 0 0 20px;
}
.topmenu__button {
    height: 40px;
    width: 40px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    background-size: cover;
    user-select: none;
}
.topmenu__button:hover {
    opacity: 0.8;
    height: 50px;
    width: 50px;
    margin: 0;
}
.topmenu__button-mute.m-unmuted {
    background-image: url('../assets/icons/i-unmuted.png');
}
.topmenu__button-mute.m-muted {
    background-image: url('../assets/icons/i-muted.png');
}
.topmenu__button-settings {
    background-image: url('../assets/icons/i-settings.png');
}
.topmenu__button-back {
    background-image: url('../assets/icons/i-back.png');
}


.lowermenu {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*цвет текста?*/
input {
    outline: none;
    height: 50px;
    width: 280px;
    font-size: large;
    font-family: "Nunito";
    padding: 0 0 0 20px;
    margin: 8px;
    opacity: 0.8;
    border-radius: 50px;
    border: none;
    margin: 0;
}



input.error_input {
    border-style: solid;
    border-width: 1px;
    border-color: #a10918;
}
input.correct_input {
    border-style: solid;
    border-width: 1px;
    border-color: #246919;
}

.input_block {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.error_text {
    width: 200px;
    background-color: #a10918;
    color: white;
    font-family: 'Nunito';
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.arrow_block {
    width: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.arrow {
    width: 15px;
    height: 15px;
    background-image: url("../assets/icons/arrow.png");
    background-size: cover;
}

.right_col {
    width: 215px;
}
