@font-face {
    font-family: 'LuckiestGuy';
    src: url('../assets/fonts/LuckiestGuy-Regular.ttf');
}
.title{
    text-align: center;
    font-family: "LuckiestGuy";
    color: #cdff90;
    text-shadow: 2px 5px 2px rgba(0,0,0,0.4);
    font-size: 800%;
    margin: 70px 40px 50px 40px;
    user-select: none;
}

