.menu-center-block {
    /*display: flex;
    flex-direction: column;
    justify-content: flex-;*/
    position: relative;
}

@font-face {
    font-family: 'Nunito';
    src: url('../assets/fonts/Nunito-ExtraLight.ttf');
}

@font-face {
    font-family: 'LuckiestGuy';
    src: url('../assets/fonts/LuckiestGuy-Regular.ttf');
}

.level_active {
    width: 150px;
    height: 150px;
    background: url(../img/active.png);
    background-size: cover;
}

.level_disabled {
    width: 150px;
    height: 150px;
    background: url(../img/disabled.png);
    background-size: cover;
}

.level1 {
    margin-left: 10%;
    margin-top: 3%;
}

.level2 {
    margin-left: 40%;
    margin-top: -40px;
}

.level3 {
    margin-left: 20%;
    margin-top: 10%;
}

.level_title_active {
    position: fixed;
    padding-top: 50px;
    margin-left: 65px;
    font-family: "LuckiestGuy";
    color: #cdff90;
    text-decoration: none;
    text-shadow: 2px 5px 2px rgba(0, 0, 0, 0.4);
    font-size: 300%;
}

.level_title_disabled {
    position: fixed;
    padding-top: 50px;
    margin-left: 65px;
    font-family: "LuckiestGuy";
    color: #c6cbc3;
    text-decoration: none;
    text-shadow: 2px 5px 2px rgba(0, 0, 0, 0.4);
    font-size: 300%;
}

.topmenu__buttons-right_container {
    position: absolute;
    top: 70px;
    right: 0px;
    height: 90%;
    width: 400px;
    background: linear-gradient(to left, rgba(198, 203, 195, 0.8), rgba(198, 203, 195, 0.0));
    /*background: linear-gradient(to top, rgba(198, 203, 195, 0.8), rgba(198, 203, 195, 0.5));*/
    /*border-top-left-radius: 20px;*/
    /*border-top-right-radius: 20px;*/
}

/*rooms_info part*/
.level_img {
    align-content: center;
    width: 250px;
    height: 150px;
    border-radius: 15px;
    margin: 80px 0 0 105px;
}

.rooms__button {
    width: 300px;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    font-family: "LuckiestGuy";
    padding: 25px 80px 10px 80px;
    user-select: none;
    color: #c6cbc3;
}

.rooms__button:hover {
    opacity: 0.8;
    font-size: 35px;
    padding: 25px 80px 5px 80px;
}

.info-for-buttons {
    font-family: Nunito;
    color: #f3f8f0;
    font-size: 18px;
    padding: 5px 60px 5px 115px;
    text-align: center;
}

.rooms_info__button-with-info {
    margin: 25px 0 0 0;
}